{% extends 'base.html' %}

{% block title %}To Do{% endblock %}

{% block content %}
<div class="main">
  {% for day in days %}
    <div class="main__item">
        <h2 class="day">{{ day }}</h2>
        <hr>
        {% for task in tasks %}
        <ul>
          {% if task.date == day %}
            <a href="{% url 'task:detail' task.pk %}">
                <li>
                    {% if task.done == 'n' %}[  ]  {% else %}[✕]  {% endif %}{{ task.title }}
                </li>
            </a>
            <p class="description">{{ task.description|truncatechars:25 }}</p>
          {% endif %}
        </ul>
        {% endfor %}
        <br>
    <a href='{% url "task:add" day %}'>Добавить</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
