{% extends 'base.html' %}
{% load static %}
{% block title %}To Do{% endblock %}

{% block content %}
<div class="main">
  {% for day in days %}
    <div class="main__item">
        <h2 class="day">{{ day|date:'l' }}</h2>
        <h2>{{ day|date:'' }}</h2>
        <hr>
        {% for task in tasks %}
        <ul>
          {% if task.date == day %}
                <li>
                    <a href="{% url 'task:detail' task.pk %}">
                      {% if task.done == 'd' %}<s>{{ task.title }}</s>{% else %}{{ task.title }}{% endif %}
                    </a>
                </li>
            <p class="description">{{ task.description|default:'...'|truncatechars:25 }}</p>
            {% comment %} <a class='a_change' href='{% url "task:change" task.pk %}'><img src='{% static "/icon/change.svg" %}' widht='40' height='40'></a> {% endcomment %}
            {% comment %} <a class='a_delete' href='{% url "task:delete" task.pk %}'><img src='{% static "/icon/delete.svg" %}' widht='40' height='40'></a> {% endcomment %}
            <a class='a_change' href='{% url "task:change" task.pk %}'>Изм. </a>
            <a class='a_delete' href='{% url "task:delete" task.pk %}'>Уд. </a>
            <a class='a_done' href='{% url "task:done" task.pk %}'>
              {% if task.done == 'n' %}Готово{% else %}отменить{% endif %}
            </a>
            <hr>
          {% endif %}
        </ul>
        {% endfor %}
        <br>
    {% comment %} <a class='a_add' href='{% url "task:add" day %}'><img src='{% static "/icon/add.svg" %}' widht='40' height='40'></a> {% endcomment %}
    <a class='a_add' href='{% url "task:add" day %}'>Добавить</a>
  </div>
  {% endfor %}
</div>
{% endblock %}

